<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    data() {
        return {
            items: [
                {
                    icon: "el-icon-setting",
                    index: "/home",
                    title: "首页"
                },
                {
                    icon: "el-icon-menu",
                    index: "2/",
                    title: "用户管理",
                    subs: [
                        {
                            index: "/users",
                            title: "用户列表"
                        }
                    ]
                }
            ]
        };
    },
    beforeMount() {
        var meuns = sessionStorage.getItem("meuns");
        var qs = require("qs");
        this.items = qs.parse(meuns);
    },
    computed: {
        onRoutes() {
            return this.$route.path;
        }
    }
};
</script>

<style scoped></style>
