<template>
    <div v-if="this.accessToken != '' && this.currentUser != null">
        <ChatSessionIndex
            v-if="this.selectedChatSession == null"
            :user="this.currentUser"
            :accessToken="this.accessToken"
            :selectChatSession="this.selectChatSession"
        />
        <MessageIndex
            :accessToken="this.accessToken"
            :chatSession="this.selectedChatSession"
            :selectChatSession="this.selectChatSession"
            v-else
        />
    </div>
    <div class="spinner" v-else></div>
</template>

<script>
import ChatSessionIndex from "../components/chatSession/Index";
import MessageIndex from "../components/message/Index";

export default {
    name: "Chatview",
    components: { ChatSessionIndex, MessageIndex },
    data() {
        return {
            selectedChatSession: null,
            currentUser: null,
            accessToken: ""
        };
    },
    created() {
        this.accessToken = this.$route.query.token;
        this.fetchCurrentUser(this.accessToken);
    },
    methods: {
        fetchCurrentUser(accessToken) {
            const auth = {
                headers: {
                    Authorization: "Bearer " + accessToken
                }
            };
            axios
                .get("api/user", auth)
                .then(response => {
                    this.currentUser = response.data;
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.$alert(error.message + "Try login in again!");
                });
        },
        selectChatSession(chatSession) {
            this.selectedChatSession = chatSession;
        }
    }
};
</script>
