<template>
  <el-main>
    <el-row :gutter="20">
      <el-col :span="12">
        <h2>Admin Login</h2>
      </el-col>
    </el-row>
    <AdminLoginForm />

    <el-row :gutter="20">
      <el-col :span="12">
        <h2>Member Mobile Login</h2>
      </el-col>
    </el-row>
    <MemberMobileLoginForm />
  </el-main>
</template>

<script>
import AdminLoginForm from "../components/AdminLoginForm";
import MemberMobileLoginForm from "../components/MemberMobileLoginForm";
export default {
  name: "Login",
  components: { AdminLoginForm, MemberMobileLoginForm },
  methods: {}
};
</script>