<template>
    <el-main v-if="token != ''">
        <el-row :gutter="20">
            <el-col :span="6">
                <h1 style="margin-top: 0; margin-bottom: 0;">Overview</h1>
            </el-col>
            <el-col :span="6" :offset="12">
                <el-button style="float:right;" @click="handleLogOut"
                    >Log out</el-button
                >
            </el-col>
        </el-row>
        <el-tabs v-model="activeName">
            <el-tab-pane label="Platforms" name="platforms">
                <PlatformIndex :accessToken="token" />
            </el-tab-pane>
            <el-tab-pane label="Admins" name="admins">
                <AdminIndex :accessToken="token" />
            </el-tab-pane>
            <el-tab-pane label="Members" name="members">
                <MemberIndex :accessToken="token" />
            </el-tab-pane>
        </el-tabs>
    </el-main>
    <div v-else>
        <p>Please login before viewing</p>
        <el-button @click="redirectToLogin()">Login</el-button>
    </div>
</template>

<script>
import PlatformIndex from "../components/platform/Index";
import AdminIndex from "../components/admin/Index";
import MemberIndex from "../components/member/Index";

export default {
    name: "Overview",
    components: { PlatformIndex, AdminIndex, MemberIndex },
    data() {
        return {
            activeName: "platforms",
            token: localStorage.getItem("access_token") || ""
        };
    },
    methods: {
        redirectToLogin() {
            this.$router.push({
                name: "login"
            });
        },
        handleLogOut() {
            this.$confirm("Are you sure you want to logout?")
                .then(_ => {
                    this.logoutUser(this.token);
                })
                .catch(_ => {});
        },
        logoutUser(accessToken) {
            const auth = {
                headers: { Authorization: "Bearer " + accessToken }
            };
            axios
                .get("/api/logout", auth)
                .then(response => {
                    if (response.status == 200) {
                        localStorage.removeItem("access_token");
                        this.redirectToLogin();
                    }
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    console.log(error);
                });
        }
    }
};
</script>
