<template>
  <el-dialog title="Chats" :visible="isVisible" @close="handleClose()">
    <el-table v-loading="loading" :data="null" style="width: 100%">
      <el-table-column prop="id" label="id" width="180"></el-table-column>
      <el-table-column prop="username" label="Username"></el-table-column>
      <el-table-column prop="mobile_number" label="Mobile Number"></el-table-column>
    </el-table>
  </el-dialog>
</template>

<script>
export default {
  name: "MemberChatsDialog",
  props: {
    selectedMember: {
      type: Object
    },
    isVisible: {
      type: Boolean
    },
    closeChatsDialog: {
      type: Function
    }
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    handleClose() {
      this.closeChatsDialog();
    }
  }
};
</script>