<template>
  <el-form ref="form" :rules="rules" :model="form" label-width="120px">
    <el-form-item label="Username" prop="username">
      <el-input v-model="form.username"></el-input>
    </el-form-item>
    <el-form-item label="Mobile Number" prop="mobile_number">
      <el-input v-model.number="form.mobile_number"></el-input>
    </el-form-item>
    <el-form-item label="Platform" prop="platform">
      <el-select v-model="form.platform" placeholder="Select platform" style="width:500px;">
        <div v-for="platform in this.platformNames" :key="platform.id">
          <el-option :label="platform.name" :value="platform.id"></el-option>
        </div>
      </el-select>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit('form')">Update</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "MemberEditForm",
  props: {
    selectedMember: {
      type: Object
    },
    platformNames: {
      type: Array
    },
    updateData: {
      type: Function
    }
  },
  mounted() {},
  data() {
    var checkUsername = (rule, value, callback) => {
      if (value === "") {
        return callback(new Error("Please input the username"));
      } else {
        callback();
      }
    };
    var checkMobileNumber = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("Please input the mobile number"));
      }
      if (!Number.isInteger(+value)) {
        callback(new Error("Please input number for your mobile number"));
      } else {
        callback();
      }
    };
    return {
      form: {
        username: this.selectedMember.username,
        mobile_number: this.selectedMember.mobile_number,
        platform: this.selectedMember.platform.id
      },
      rules: {
        username: [
          { validator: checkUsername, trigger: "blur", required: true }
        ],
        mobile_number: [
          { validator: checkMobileNumber, trigger: "blur", required: true }
        ],
        platform: [{ trigger: "blur", required: true }]
      }
    };
  },
  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.updateData(
            this.selectedMember.id,
            this.$refs[formName].model.username,
            this.$refs[formName].model.mobile_number,
            this.$refs[formName].model.platform
          );
        } else {
          return false;
        }
      });
    }
  }
};
</script>