<template>
    <el-main>
        <el-row :gutter="20">
            <div v-if="action == 'read'">
                <el-col :span="6" :offset="18">
                    <el-button
                        type="primary"
                        style="float:right;"
                        @click="changeAction('add')"
                        >Add</el-button
                    >
                </el-col>
                <MemberTable
                    :data="this.memberData"
                    :deleteData="this.deleteMember"
                    :changeAction="this.changeAction"
                    :openChatsDialog="this.openChatsDialog"
                />
            </div>
            <div v-else-if="action == 'add'">
                <el-page-header
                    @back="changeAction('read')"
                    content="Create new Member"
                    style="margin-bottom:20px;"
                ></el-page-header>
                <MemberCreateForm
                    :addData="this.addMember"
                    :platformNames="this.platformNames"
                />
            </div>
            <div v-else-if="action == 'edit'">
                <el-page-header
                    @back="changeAction('read')"
                    :content="'Edit ' + this.selectedMember.username"
                    style="margin-bottom:20px;"
                ></el-page-header>
                <MemberEditForm
                    :selectedMember="this.selectedMember"
                    :platformNames="this.platformNames"
                    :updateData="this.updateMember"
                />
            </div>
            <MemberChatsDialog
                :selectedMember="this.selectedMember"
                :isVisible="this.chatsDialogIsVisible"
                :closeChatsDialog="this.closeChatsDialog"
            />
        </el-row>
    </el-main>
</template>

<script>
import MemberTable from "./Table";
import MemberCreateForm from "./CreateForm";
import MemberEditForm from "./EditForm";
import MemberChatsDialog from "./ChatsDialog";

export default {
    name: "MemberIndex",
    components: {
        MemberTable,
        MemberCreateForm,
        MemberEditForm,
        MemberChatsDialog
    },
    props: {
        accessToken: {
            type: String
        }
    },
    data() {
        return {
            action: "read",
            memberData: [],
            platformNames: [],
            selectedMember: null,
            chatsDialogIsVisible: false
        };
    },
    mounted() {
        this.fetchMemberData(this.accessToken);
        this.fetchPlatformNameData(this.accessToken);
    },
    methods: {
        changeAction(action, member = null) {
            this.action = action;
            if (action == "edit") {
                this.selectedMember = member;
            }
        },
        fetchMemberData(accessToken) {
            const auth = {
                headers: { Authorization: "Bearer " + accessToken }
            };
            axios
                .get("/api/users?role=member", auth)
                .then(response => {
                    this.memberData = response.data;
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.$alert(error.message + "Try login in again!");
                });
        },
        fetchPlatformNameData(accessToken) {
            const auth = {
                headers: { Authorization: "Bearer " + accessToken }
            };
            axios
                .get("/api/platforms?data=name", auth)
                .then(response => {
                    this.platformNames = response.data;
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.$alert(error.message + "Try login in again!");
                });
        },
        deleteMember(index, member) {
            const auth = {
                headers: { Authorization: "Bearer " + this.accessToken }
            };
            axios
                .delete("/api/users/" + member.id, auth)
                .then(response => {
                    this.memberData.splice(index, 1);
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    return false;
                });
        },
        addMember(username, mobileNumber, platform) {
            const auth = {
                headers: { Authorization: "Bearer " + this.accessToken }
            };
            const data = {
                username: username,
                mobile_number: mobileNumber,
                platform_id: platform,
                role: "member"
            };
            axios
                .post("/api/users", data, auth)
                .then(response => {
                    if (response.status == 201) {
                        this.changeAction("read");
                        this.memberData.push(response.data);
                    }
                })
                .catch(error => {
                    this.$alert(error.message);
                });
        },
        updateMember(id, username, mobileNumber, platform) {
            const auth = {
                headers: { Authorization: "Bearer " + this.accessToken }
            };
            const data = {
                username: username,
                mobile_number: mobileNumber,
                platform_id: platform
            };

            axios
                .put("/api/users/" + id, data, auth)
                .then(response => {
                    if (response.status == 200) {
                        this.changeAction("read");
                        this.selectedMember.username = username;
                        this.selectedMember.mobileNumber = mobileNumber;
                        this.selectedMember.platform = response.data.platform;
                    }
                })
                .catch(error => {
                    this.error = error;
                    this.$alert(
                        error.message +
                            ". Please make sure that the admin name does not exist."
                    );
                });
        },
        fetchMemberChatrooms(id, accessToken) {
            const auth = {
                headers: { Authorization: "Bearer " + accessToken }
            };
            axios
                .get("/api/users?role=member", auth)
                .then(response => {})
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.$alert(error.message + "Try login in again!");
                });
        },
        openChatsDialog(member) {
            data = this.fetchMemberChatrooms(member.id, this.accessToken);
            console.log(data);
            // this.selectedMember = member;
            this.chatsDialogIsVisible = true;
        },
        closeChatsDialog() {
            this.chatsDialogIsVisible = false;
        }
    }
};
</script>
