<template>
  <el-table
    :data="data.filter(data => !search || data.platform.name.toLowerCase().includes(search.toLowerCase()))"
    style="width: 100%"
  >
    <el-table-column type="expand">
      <template slot-scope="props">
        <p>Created At: {{ props.row.created_at }}</p>
        <p>Updated At: {{ props.row.updated_at }}</p>
      </template>
    </el-table-column>
    <el-table-column label="Username" prop="username" sortable></el-table-column>
    <el-table-column label="Mobile Number" prop="mobile_number"></el-table-column>
    <el-table-column label="Platform" prop="platform.name"></el-table-column>
    <el-table-column align="right" width="300">
      <template slot="header" slot-scope="scope">
        <el-input v-model="search" size="mini" placeholder="Type to search for platform" />
      </template>
      <template slot-scope="scope">
        <el-button size="mini" @click="handleOpenChats(scope.row)">View Chats</el-button>

        <el-button size="mini" @click="changeAction('edit', scope.row)">Edit</el-button>
        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: "MemberTable",
  props: {
    data: {
      type: Array
    },
    changeAction: {
      type: Function
    },
    deleteData: {
      type: Function
    },
    openChatsDialog: {
      type: Function
    }
  },
  data() {
    return {
      search: ""
    };
  },
  methods: {
    handleDelete(index, row) {
      this.$confirm(
        "Deleting this member will delete all messages as well. Do you want to delete?"
      )
        .then(_ => {
          this.deleteData(index, row);
        })
        .catch(_ => {});
    },
     handleOpenChats(row) {
      this.openChatsDialog(row);
    }
  }
};
</script>