<template>
  <el-form
    :model="ruleForm"
    status-icon
    :rules="rules"
    ref="ruleForm"
    label-width="120px"
    class="demo-ruleForm"
  >
    <el-form-item label="Username" prop="username">
      <el-input v-model.number="ruleForm.username"></el-input>
    </el-form-item>
    <el-form-item label="Password" prop="pass">
      <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm', false)">Submit</el-button>
      <el-button @click="resetForm('ruleForm')">Reset</el-button>
      <el-button type="primary" @click="submitForm('ruleForm', true)">Submit and go the Overview</el-button>
    </el-form-item>
    <p>{{status}}</p>
  </el-form>
</template>
<script>
export default {
  data() {
    var checkUsername = (rule, value, callback) => {
      if (value === "") {
        return callback(new Error("Please input the username"));
      } else {
        callback();
      }
    };
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        return callback(new Error("Please input the password"));
      } else {
        callback();
      }
    };
    return {
      status: "status",
      ruleForm: {
        username: "",
        pass: ""
      },
      rules: {
        username: [{ validator: checkUsername, trigger: "blur" }],
        pass: [{ validator: validatePass, trigger: "blur" }]
      }
    };
  },
  methods: {
    submitForm(formName, push) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          // console.log(modell.username);
          this.authenticAdmin(
            this.$refs[formName].model.username,
            this.$refs[formName].model.pass,
            push
          );
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    authenticAdmin(username, password, push) {
      axios
        .post("/api/auth/admin-login", {
          username: username,
          password: password
        })
        .then(response => {
          this.status = response.data.access_token;
          if (push) {
            localStorage.setItem("access_token", response.data.access_token);
            setTimeout(() => {
              this.$router.push({
                name: "overview"
              });
            }, 1500);
          }
        })
        .catch(error => {
          localStorage.removeItem("access_token");
          this.error = error.response.data.message || error.message;
          this.status = this.error;
        });
    }
  }
};
</script>