<template>
    <el-form
        :model="ruleForm"
        status-icon
        :rules="rules"
        ref="ruleForm"
        label-width="120px"
        class="demo-ruleForm"
    >
        <el-form-item label="Username" prop="username">
            <el-input v-model="ruleForm.username"></el-input>
        </el-form-item>
        <el-form-item label="Mobile Number" prop="mobileNumber">
            <el-input v-model.number="ruleForm.mobileNumber"></el-input>
        </el-form-item>
        <el-form-item label="Platform Key" prop="platformKey">
            <el-input
                v-model="ruleForm.platformKey"
                autocomplete="off"
            ></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')"
                >Submit</el-button
            >
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
            <el-button type="primary" @click="submitForm('ruleForm')"
                >Submit and go to Chat</el-button
            >
            <el-button type="primary" @click="mockChat('ruleForm')"
                >Go to chat with 2 user</el-button
            >
        </el-form-item>
        <p>{{ status }}</p>
    </el-form>
</template>
<script>
export default {
    data() {
        var checkUsername = (rule, value, callback) => {
            if (value === "") {
                return callback(new Error("Please input the username"));
            } else {
                callback();
            }
        };
        var checkMobileNumber = (rule, value, callback) => {
            if (!value) {
                return callback(new Error("Please input the mobile number"));
            }
            setTimeout(() => {
                if (!Number.isInteger(value)) {
                    callback(new Error("Please input digits"));
                } else {
                    if (value.toString().length !== 8) {
                        callback(
                            new Error("Mobile number need to be 8 digits")
                        );
                    } else {
                        callback();
                    }
                }
            }, 1000);
        };
        var checkPlatformKey = (rule, value, callback) => {
            if (value === "") {
                return callback(new Error("Please input the platform key"));
            } else {
                callback();
            }
        };
        return {
            status: "status",
            ruleForm: {
                username: "Zhe .",
                mobileNumber: "12345678",
                platformKey: "kVnZHqtnaITbTD5"
            },
            rules: {
                username: [{ validator: checkUsername, trigger: "blur" }],
                mobileNumber: [
                    { validator: checkMobileNumber, trigger: "blur" }
                ],
                platformKey: [{ validator: checkPlatformKey, trigger: "blur" }]
            }
        };
    },
    methods: {
        submitForm(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.authenticMember(
                        this.$refs[formName].model.username,
                        this.$refs[formName].model.mobileNumber.toString(),
                        this.$refs[formName].model.platformKey
                    );
                } else {
                    console.log("error submit!!");
                    return false;
                }
            });
        },
        mockChat(formName) {
            this.$router.push({
                name: "chatview"
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        authenticMember(username, mobileNumber, platformKey) {
            axios
                .post("/api/auth/member-mobile-login", {
                    username: username,
                    mobile_number: mobileNumber,
                    key: platformKey
                })
                .then(response => {
                    this.status = response.data.access_token;
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.status = this.error;
                });
        }
    }
};
</script>
