<template>
    <div class="bg-grey-lighter px-2 py-2 flex items-center shadow-md">
        <div class="flex-1 mx-2">
            <input
                class="w-full border rounded px-2 py-2"
                type="text"
                v-model="message"
                v-on:keyup.enter="handleSendMessage"
            />
        </div>
        <div @click="handleSendMessage()">
            <span class="material-icons px-2" style="color:#477eff">send</span>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        sendMessage: {
            type: Function
        }
    },
    data() {
        return {
            message: ""
        };
    },
    methods: {
        handleSendMessage() {
            this.sendMessage(this.message);
            this.message = "";
        }
    }
};
</script>
