<template>
    <div
        class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center shadow-md"
    >
        <div class="flex items-center">
            <div @click="handleBackButtonClick()">
                <!-- <i class="fas fa-arrow-left py-4"></i> -->
                <i class="el-icon-back py-4"></i>
            </div>
            <div class="ml-4">
                <h1 class="text-2xl">
                    {{ name }}
                </h1>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        name: {
            type: String
        },
        selectChatSession: {
            type: Function
        }
    },
    methods: {
        handleBackButtonClick() {
            this.selectChatSession(null);
        }
    }
};
</script>

<style></style>
