<template>
    <div>
        <div class="w-full h-32"></div>
        <div class="container mx-auto" style="margin-top: -128px;">
            <div class=" h-screen">
                <div class="flex h-full">
                    <div class="w-full border flex flex-col">
                        <!-- Header -->
                        <MessagesHeader
                            :name="chatSession.other_user.username"
                            :selectChatSession="this.selectChatSession"
                        />

                        <!-- Messages -->
                        <div
                            class="flex-1 overflow-auto super-light"
                            style="word-break: break-word;"
                        >
                            <div
                                class="py-1 px-3 message-box"
                                v-for="(msg, i) in messageData"
                                :key="i"
                            >
                                <div
                                    class="flex mb-2"
                                    v-if="msg.role == 'opposite'"
                                >
                                    <div class="rounded py-2 px-3 bg-wa-other">
                                        <p class="text-sm mt-1">
                                            {{ msg.message }}
                                        </p>
                                        <p
                                            class="text-right text-xs text-grey-dark mt-1"
                                        >
                                            {{
                                                msg.created_at
                                                    | moment("D/M, h:mma")
                                            }}
                                        </p>
                                    </div>
                                </div>

                                <div class="flex justify-end mb-2" v-else>
                                    <div
                                        class="rounded py-2 px-3 bg-wa-lighter"
                                    >
                                        <p class="text-sm mt-1">
                                            {{ msg.message }}
                                        </p>
                                        <p
                                            class="text-right text-xs text-grey-dark mt-1"
                                        >
                                            {{
                                                msg.created_at
                                                    | moment("D/M, h:mma")
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <MessagesForm :sendMessage="this.sendMessage" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="https://js.pusher.com/6.0/pusher.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
import MessagesHeader from "./Header";
import MessagesForm from "./Form";

export default {
    components: { MessagesHeader, MessagesForm },
    props: {
        accessToken: {
            type: String
        },
        chatSession: {
            type: Object
        },
        selectChatSession: {
            type: Function
        }
    },
    data() {
        return {
            messageData: [],
            pusher: null
        };
    },
    created() {
        if (this.chatSession.other_user.id == this.chatSession.user1_id) {
            this.userId = this.chatSession.user2_id;
        } else {
            this.userId = this.chatSession.user1_id;
        }
    },
    mounted() {
        this.initPusher();
        this.fetchMessages(this.accessToken, this.chatSession, this.userId);
    },
    beforeDestroy() {
        this.killPusher();
    },
    methods: {
        initPusher() {
            this.pusher = new Pusher("1d4280aa467ff96d65b3", {
                cluster: "ap1"
            });
            const channel = this.pusher.subscribe(
                "chat_session." + this.chatSession.id
            );
            channel.bind(
                "new-message",
                function(data) {
                    if (data.message.user_id != this.userId) {
                        data.message.role = "opposite";
                    }
                    this.messageData.push(data.message);
                    if (this.userId != data.message.user_id) {
                        this.readMessage(data.message.id);
                    }
                    this.scrollToEnd();
                }.bind(this)
            );
        },
        killPusher() {
            this.pusher.unsubscribe("chat_session." + this.chatSession.id);
        },
        fetchMessages(accessToken, chatSession, userId) {
            const auth = {
                headers: {
                    Authorization: "Bearer " + accessToken
                }
            };
            axios
                .get(
                    "api/messages?chat_session_id=" +
                        chatSession.id +
                        "&read=true",
                    auth
                )
                .then(response => {
                    this.messageData = response.data;

                    this.messageData.forEach(message => {
                        if (message.user_id != userId) {
                            message.role = "opposite";
                        }
                    });
                    this.scrollToEnd();
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.$alert(error.message + "Try login in again!");
                });
        },
        // TODO: probably should change the user.id in the objecy msg to read from access token
        sendMessage(message) {
            const auth = {
                headers: {
                    Authorization: "Bearer " + this.accessToken
                }
            };
            const msg = {
                message: message,
                chat_session_id: this.chatSession.id,
                user_id: this.userId
            };
            axios.post("api/messages", msg, auth).then(response => {
                this.scrollToEnd();
                //TODO: to work on last seen, send status
            });
        },

        readMessage(id) {
            const auth = {
                headers: { Authorization: "Bearer " + this.accessToken }
            };
            const data = {
                // read: 1
            };

            axios
                .put("/api/messages/" + id, data, auth)
                .then(response => {
                    if (response.status == 200) {
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        },

        scrollToEnd() {
            setTimeout(() => {
                if (
                    (this.itemCount =
                        this.$el.getElementsByClassName("message-box").length >
                        0)
                ) {
                    this.$el
                        .getElementsByClassName("message-box")
                        [
                            (this.itemCount =
                                this.$el.getElementsByClassName("message-box")
                                    .length - 1)
                        ].scrollIntoView();
                }
            }, 50);
        }
    }
};
</script>
