<template>
  <ul class="chat">
    <li class="left clearfix" v-for="message in data" :key="message.id">
      <div class="chat-body clearfix">
        <div class="header">
          <!-- <strong class="primary-font">{{ message.user.username }}</strong> -->
        </div>
        <p>{{ message.message }}</p>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    data: {
      type: Array
    }
  }
};
</script>

<style scoped>
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b3a9a9;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel-body {
  overflow-y: scroll;
  height: 350px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
</style>