<template>
  <el-form ref="form" :rules="rules" :model="form" label-width="120px">
    <el-form-item label="Name" prop="name">
      <el-input v-model.number="form.name"></el-input>
    </el-form-item>
    <el-form-item label="Description" prop="description">
      <el-input type="textarea" v-model.number="form.description"></el-input>
    </el-form-item>
    <el-row>
      <el-col :span="7">
        <el-form-item label="Publish" prop="publish">
          <el-switch v-model.number="form.publish"></el-switch>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Key" prop="key">
          <el-input style="width:160px;" v-model.number="form.key" size="small" disabled></el-input>
          <el-button size="small" @click="generateKey()">Generate Key</el-button>
        </el-form-item>
      </el-col>
    </el-row>
    <el-form-item>
      <el-button type="primary" @click="onSubmit('form')">Create</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "PlatformCreateForm",
  props: {
    fetchKey: {
      type: Function
    },
    addData: {
      type: Function
    }
  },
  data() {
    var checkName = (rule, value, callback) => {
      if (value === "") {
        return callback(new Error("Please input the platform name"));
      } else {
        callback();
      }
    };
    var checkKey = (rule, value, callback) => {
      if (value === "") {
        return callback(new Error("Please generate a platform key"));
      } else {
        callback();
      }
    };
    return {
      form: {
        name: "",
        description: "",
        publish: true,
        key: ""
      },
      rules: {
        name: [{ validator: checkName, trigger: "blur", required: true }],
        key: [{ validator: checkKey, trigger: "blur", required: true }]
      }
    };
  },
  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.addData(
            this.$refs[formName].model.name,
            this.$refs[formName].model.description,
            this.$refs[formName].model.publish,
            this.$refs[formName].model.key
          );
        } else {
          return false;
        }
      });
    },
    generateKey() {
      this.fetchKey()
        .then(key => {
          this.form.key = key;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>