<template>
  <el-main>
    <el-row :gutter="20">
      <div v-if="action == 'read'">
        <el-col :span="6" :offset="18">
          <el-button type="primary" style="float:right;" @click="changeAction('add')">Add</el-button>
        </el-col>
        <PlatformTable
          :data="this.platformData"
          :deleteData="this.deletePlatform"
          :changeAction="this.changeAction"
        />
      </div>
      <div v-else-if="action == 'add'">
        <el-page-header
          @back="changeAction('read')"
          content="Create new Platform"
          style="margin-bottom:20px;"
        ></el-page-header>
        <PlatformCreateForm :fetchKey="this.fetchKey" :addData="this.addPlatform" />
      </div>
      <div v-else-if="action == 'edit'">
        <el-page-header
          @back="changeAction('read')"
          :content="'Edit ' + this.selectedPlatform.name"
          style="margin-bottom:20px;"
        ></el-page-header>
        <PlatformEditForm
          :fetchKey="this.fetchKey"
          :selectedPlatform="this.selectedPlatform"
          :updatePlatform="this.updatePlatform"
        />
      </div>
    </el-row>
  </el-main>
</template>

<script>
import PlatformTable from "./Table";
import PlatformCreateForm from "./CreateForm";
import PlatformEditForm from "./EditForm";

export default {
  name: "PlatformIndex",
  components: { PlatformTable, PlatformCreateForm, PlatformEditForm },
  props: {
    accessToken: {
      type: String
    }
  },
  data() {
    return {
      action: "read",
      platformData: [],
      selectedPlatform: null
    };
  },
  mounted() {
    this.fetchPlatformData(this.accessToken);
  },
  methods: {
    changeAction(action, platform = null) {
      this.action = action;
      if (action == "edit") {
        this.selectedPlatform = platform;
      }
    },
    fetchPlatformData(accessToken) {
      const auth = {
        headers: { Authorization: "Bearer " + accessToken }
      };
      axios
        .get("/api/platforms?user_count=true", auth)
        .then(response => {
          this.platformData = response.data;
        })
        .catch(error => {
          this.error = error.response.data.message || error.message;
          this.$alert(error.message + "Try login in again!");
        });
    },
    deletePlatform(index, platform) {
      const auth = {
        headers: { Authorization: "Bearer " + this.accessToken }
      };
      axios
        .delete("/api/platforms/" + platform.id, auth)
        .then(response => {
          this.platformData.splice(index, 1);
        })
        .catch(error => {
          this.error = error.response.data.message || error.message;
          return false;
        });
    },
    addPlatform(name, description, publish, key) {
      const auth = {
        headers: { Authorization: "Bearer " + this.accessToken }
      };
      const data = {
        name: name,
        description: description,
        publish: publish ? 1 : 0,
        key: key
      };

      axios
        .post("/api/platforms", data, auth)
        .then(response => {
          if (response.status == 201) {
            this.changeAction("read");
            this.platformData.push(response.data);
          }
        })
        .catch(error => {
          this.error = error;
          this.$alert(
            error.message +
              ". Please make sure that the platform name does not exist."
          );
        });
    },
    updatePlatform(id, name, description, publish, key) {
      const auth = {
        headers: { Authorization: "Bearer " + this.accessToken }
      };
      const data = {
        name: name,
        description: description,
        publish: publish ? 1 : 0,
        key: key
      };

      axios
        .put("/api/platforms/" + id, data, auth)
        .then(response => {
          if (response.status == 200) {
            this.changeAction("read");
            this.selectedPlatform.name = name;
            this.selectedPlatform.description = description;
            this.selectedPlatform.publish = publish ? 1 : 0;
            this.selectedPlatform.key = key;
          }
        })
        .catch(error => {
          this.error = error;
          this.$alert(
            error.message +
              ". Please make sure that the platform name does not exist."
          );
        });
    },
    fetchKey() {
      const auth = {
        headers: { Authorization: "Bearer " + this.accessToken }
      };
      return axios
        .get("/api/admin/platforms/generate-key", auth)
        .then(response => {
          return response.data.key;
        })
        .catch(error => {
          this.error = error.response.data.message || error.message;
          this.status = this.error;
        });
    }
  }
};
</script>