<template>
  <el-table :data="data" style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="props">
        <p>Created At: {{ props.row.created_at }}</p>
        <p>Updated At: {{ props.row.updated_at }}</p>
        <p>Description: {{ props.row.description }}</p>
      </template>
    </el-table-column>
    <el-table-column label="Name" prop="name"></el-table-column>
    <el-table-column label="Key" prop="key"></el-table-column>
    <el-table-column label="User Count" prop="users_count"></el-table-column>
    <el-table-column label="Status" prop="publish">
      <template slot-scope="scope">
        <el-tag
          :type="scope.row.publish === 1 ? 'success' : 'info'"
          disable-transitions
        >{{scope.row.publish === 1 ? "Published" : "Not publish yet"}}</el-tag>
      </template>
    </el-table-column>

    <el-table-column label="Operations">
      <template slot-scope="scope">
        <el-button size="mini" @click="changeAction('edit', scope.row)">Edit</el-button>
        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: "PlatformTable",
  props: {
    data: {
      type: Array
    },
    changeAction: {
      type: Function
    },
    deleteData: {
      type: Function
    }
  },
  methods: {
    handleDelete(index, row) {
      this.$confirm(
        "Deleting this platform will delete all members and messages link to this platform as well. Do you want to delete?"
      )
        .then(_ => {
          this.deleteData(index, row);
        })
        .catch(_ => {});
    }
  }
};
</script>