<template>
    <header>
        <div
            class="flex justify-between px-4 pt-5 pb-2 border-b-2 border-gray-200"
        >
            <h1 class="text-3xl font-bold">Chat</h1>
        </div>
    </header>
</template>

<script>
export default {
};
</script>

<style></style>
