<template>
    <div>
        <ChatSessionHeader />
        <div v-if="this.chatSessionData != null">
            <div v-if="this.chatSessionData.length != 0">
                <div
                    v-for="(chatSession, i) in this.chatSessionData"
                    :key="i"
                    @click="handleChatSessionClick(chatSession)"
                >
                    <ChatSessionItem :chatSession="chatSession" />
                </div>
            </div>
            <section class="m-2 flex" v-else>
                No Message Yet
            </section>
        </div>
    </div>
</template>

<script src="https://js.pusher.com/6.0/pusher.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
import ChatSessionItem from "./Item";
import ChatSessionHeader from "./Header";
export default {
    name: "ChatSessionIndex",
    components: {
        ChatSessionItem,
        ChatSessionHeader
    },
    props: {
        accessToken: {
            type: String
        },
        user: {
            type: Object
        },
        selectChatSession: {
            type: Function
        }
    },
    data() {
        return {
            chatSessionData: null
        };
    },
    created() {},
    mounted() {
        this.fetchChatSessions(this.accessToken, this.user.id);
    },
    beforeDestroy() {
        this.chatSessionData.forEach(chatSession => {
            this.killPusher(chatSession);
        });
    },
    methods: {
        fetchChatSessions(accessToken, userId) {
            const auth = {
                headers: {
                    Authorization: "Bearer " + accessToken
                }
            };
            axios
                .get("api/chat_sessions?user_id=" + userId, auth)
                .then(response => {
                    response.data = response.data.sort(this.compare());
                    response.data.forEach(chatSession => {
                        if (chatSession.latest_message != null) {
                            this.initPusher(chatSession);
                        }
                    });
                    this.chatSessionData = response.data;
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.$alert(error.message + "Try login in again!");
                });
        },
        handleChatSessionClick(chatSession) {
            this.selectChatSession(chatSession);
        },
        initPusher(chatSession) {
            this.pusher = new Pusher("1d4280aa467ff96d65b3", {
                cluster: "ap1"
            });
            const channel = this.pusher.subscribe(
                "chat_session." + chatSession.id
            );
            channel.bind(
                "new-message",
                function(data) {
                    chatSession.read_count += 1;
                    chatSession.latest_message = data.message;
                    this.chatSessionData.sort(this.compare());
                }.bind(this)
            );
        },
        killPusher(chatSession) {
            this.pusher.unsubscribe("chat_session." + chatSession.id);
        },
        compare(a, b) {
            return function(a, b) {
                if (a.latest_message === b.latest_message) {
                    return 0;
                } else if (a.latest_message === null) {
                    return 1;
                } else if (b.latest_message === null) {
                    return -1;
                } else {
                    return a.latest_message.created_at >
                        b.latest_message.created_at
                        ? -1
                        : 1;
                }
            };
        }
    }
};
</script>
