<template>
    <section class="m-2 flex">
        <article
            class="w-full py-2 border-b-2  border-gray-200"
            :key="chatSession.id"
        >
            <div class="flex justify-between">
                <h1 class="text-lg font-medium">
                    {{ chatSession.other_user.username | truncate(20, "...") }}
                </h1>
                <p
                    class="text-sm"
                    style="color:#409eff"
                    v-if="chatSession.latest_message != null"
                >
                    {{
                        chatSession.latest_message.created_at
                            | moment("D/M, ddd, h:mma")
                    }}
                </p>
            </div>
            <div class="flex justify-between">
                <p class="text-sm" v-if="chatSession.latest_message != null">
                    {{
                        chatSession.latest_message.message | truncate(30, "...")
                    }}
                </p>
                <p class="text-sm" v-else>No Message Yet</p>
                <div
                    class=" text-white rounded-full w-5 h-5 text-center text-sm pb-2"
                    v-if="chatSession.read_count > 0"
                    style="background-color:#409eff"
                >
                    {{ chatSession.read_count }}
                </div>
            </div>
        </article>
    </section>
</template>

<script>
export default {
    name: "ChatSessionList",
    props: {
        chatSession: {
            type: Object
        }
    },
    data() {
        return {};
    },
    filters: {
        truncate: function(text, length, suffix) {
            if (text.length > length) {
                return text.substring(0, length) + suffix;
            } else {
                return text;
            }
        }
    },
    methods: {
        // handleDelete(index, row) {
        //   this.$confirm(
        //     "Deleting this member will delete all messages as well. Do you want to delete?"
        //   )
        //     .then(_ => {
        //       this.deleteData(index, row);
        //     })
        //     .catch(_ => {});
        // },
        //  handleOpenChats(row) {
        //   this.openChatsDialog(row);
        // }
    }
};
</script>

<style scoped>
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

h3,
p {
    padding: 2px;
    margin: 2px;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3dfdb;
}

.row {
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
    color: #777777;
}

.panel-body {
    overflow-y: scroll;
    height: 350px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}
</style>
