<template>
  <el-form ref="form" :rules="rules" :model="form" label-width="120px">
    <el-form-item label="Username" prop="username">
      <el-input v-model.number="form.username"></el-input>
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input type="email" v-model="form.email"></el-input>
    </el-form-item>

    <el-row>
      <el-col :span="12">
        <el-form-item label="Password" prop="password">
          <el-input type="password" v-model="form.password"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Confirm" prop="confirmPassword">
          <el-input type="password" v-model="form.confirmPassword"></el-input>
        </el-form-item>
      </el-col>
    </el-row>

    <el-form-item>
      <el-button type="primary" @click="onSubmit('form')">Create</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "AdminCreateForm",
  props: {
    addData: {
      type: Function
    }
  },
  data() {
    var checkUsername = (rule, value, callback) => {
      if (value === "") {
        return callback(new Error("Please input the username"));
      } else {
        callback();
      }
    };
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input the password"));
      } else {
        if (this.form.checkPass !== "") {
          this.$refs.form.validateField("confirmPassword");
        }
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input the password again"));
      } else if (value !== this.form.password) {
        callback(new Error("Two inputs don't match!"));
      } else {
        callback();
      }
    };
    return {
      form: {
        username: "",
        email: "",
        password: "",
        confirmPassword: ""
      },
      rules: {
        username: [
          { validator: checkUsername, trigger: "blur", required: true }
        ],
        password: [
          { validator: validatePass, trigger: "blur", required: true }
        ],
        confirmPassword: [
          { validator: validatePass2, trigger: "blur", required: true }
        ]
      }
    };
  },
  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.addData(
            this.$refs[formName].model.username,
            this.$refs[formName].model.email,
            this.$refs[formName].model.password
          );
        } else {
          return false;
        }
      });
    }
  }
};
</script>