<template>
  <el-form ref="form" :rules="rules" :model="form" label-width="120px">
    <el-form-item label="Username" prop="username">
      <el-input v-model.number="form.username"></el-input>
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input type="email" v-model="form.email"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit('form')">Update</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "AdminEditForm",
  props: {
    selectedAdmin: {
      type: Object
    },
    updateData: {
      type: Function
    }
  },
  data() {
    var checkUsername = (rule, value, callback) => {
      if (value === "") {
        return callback(new Error("Please input the username"));
      } else {
        callback();
      }
    };
    return {
      form: {
        username: this.selectedAdmin.username,
        email: this.selectedAdmin.email
      },
      rules: {
        username: [
          { validator: checkUsername, trigger: "blur", required: true }
        ]
      }
    };
  },
  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.updateData(
            this.selectedAdmin.id,
            this.$refs[formName].model.username,
            this.$refs[formName].model.email
          );
        } else {
          return false;
        }
      });
    }
  }
};
</script>