<template>
    <el-main>
        <el-row :gutter="20">
            <div v-if="action == 'read'">
                <el-col :span="6" :offset="18">
                    <el-button
                        type="primary"
                        style="float:right;"
                        @click="changeAction('add')"
                        >Add</el-button
                    >
                </el-col>
                <AdminTable
                    :data="this.adminData"
                    :deleteData="this.deleteAdmin"
                    :changeAction="this.changeAction"
                    :openPasswordDialog="this.openPasswordDialog"
                />
            </div>
            <div v-else-if="action == 'add'">
                <el-page-header
                    @back="changeAction('read')"
                    content="Create new Admin"
                    style="margin-bottom:20px;"
                ></el-page-header>
                <AdminCreateForm :addData="this.addAdmin" />
            </div>
            <div v-else-if="action == 'edit'">
                <el-page-header
                    @back="changeAction('read')"
                    :content="'Edit ' + this.selectedAdmin.username"
                    style="margin-bottom:20px;"
                ></el-page-header>
                <AdminEditForm
                    :selectedAdmin="this.selectedAdmin"
                    :updateData="this.updateAdmin"
                />
            </div>
            <AdminPasswordFormDialog
                :selectedAdmin="this.selectedAdmin"
                :changePassword="this.changeAdminPassword"
                :isVisible="this.passwordDialogIsVisible"
                :closePasswordDialog="this.closePasswordDialog"
            />
        </el-row>
    </el-main>
</template>

<script>
import AdminTable from "./Table";
import AdminCreateForm from "./CreateForm";
import AdminEditForm from "./EditForm";
import AdminPasswordFormDialog from "./PasswordFormDialog";

export default {
    name: "AdminIndex",
    components: {
        AdminTable,
        AdminCreateForm,
        AdminEditForm,
        AdminPasswordFormDialog
    },
    props: {
        accessToken: {
            type: String
        }
    },
    data() {
        return {
            action: "read",
            adminData: [],
            selectedAdmin: null,
            passwordDialogIsVisible: false
        };
    },
    mounted() {
        this.fetchAdminData(this.accessToken);
    },
    methods: {
        changeAction(action, admin = null) {
            this.action = action;
            if (action == "edit") {
                this.selectedAdmin = admin;
            }
        },
        fetchAdminData(accessToken) {
            const auth = {
                headers: { Authorization: "Bearer " + accessToken }
            };
            axios
                .get("/api/users?role=admin", auth)
                .then(response => {
                    this.adminData = response.data;
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.$alert(error.message + "Try login in again!");
                });
        },
        deleteAdmin(index, admin) {
            const auth = {
                headers: { Authorization: "Bearer " + this.accessToken }
            };
            axios
                .delete("/api/users/" + admin.id, auth)
                .then(response => {
                    this.adminData.splice(index, 1);
                })
                .catch(error => {
                    this.error = error.response.data.message || error.message;
                    return false;
                });
        },
        addAdmin(username, email, password) {
            const auth = {
                headers: { Authorization: "Bearer " + this.accessToken }
            };
            const data = {
                username: username,
                email: email,
                password: password,
                role: "admin"
            };

            axios
                .post("/api/users", data, auth)
                .then(response => {
                    if (response.status == 201) {
                        this.changeAction("read");
                        this.adminData.push(response.data);
                    }
                })
                .catch(error => {
                    this.$alert(
                        error.message +
                            ". Please make sure that the admin username does not exist."
                    );
                });
        },
        updateAdmin(id, username, email) {
            const auth = {
                headers: { Authorization: "Bearer " + this.accessToken }
            };
            const data = {
                username: username,
                email: email
            };

            axios
                .put("/api/users/" + id, data, auth)
                .then(response => {
                    if (response.status == 200) {
                        this.changeAction("read");
                        this.selectedAdmin.username = username;
                        this.selectedAdmin.email = email;
                    }
                })
                .catch(error => {
                    this.error = error;
                    this.$alert(
                        error.message +
                            ". Please make sure that the admin name does not exist."
                    );
                });
        },
        changeAdminPassword(id, password) {
            const auth = {
                headers: { Authorization: "Bearer " + this.accessToken }
            };
            const data = {
                password: password
            };

            axios
                .put("/api/users/" + id, data, auth)
                .then(response => {
                    if (response.status == 200) {
                        this.closePasswordDialog();
                    }
                })
                .catch(error => {
                    this.error = error;
                    this.$alert(error.message);
                });
        },
        openPasswordDialog(admin) {
            this.selectedAdmin = admin;
            this.passwordDialogIsVisible = true;
        },
        closePasswordDialog() {
            this.passwordDialogIsVisible = false;
        }
    }
};
</script>
