<template>
  <div>
    <el-dialog title="Change Password" :visible="isVisible" @close="handleClose()">
      <el-form ref="form" :model="form" :rules="rules">
        <el-form-item label="New Password" :label-width="formLabelWidth" prop="password">
          <el-input v-model="form.password" type="password" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="Confirm Password" :label-width="formLabelWidth" prop="confirmPassword">
          <el-input v-model="form.confirmPassword" type="password" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="onSubmit('form')">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "AdminPasswordFormDialog",
  props: {
    selectedAdmin: {
      type: Object
    },
    isVisible: {
      type: Boolean
    },
    changePassword: {
      type: Function
    },
    closePasswordDialog: {
      type: Function
    }
  },
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input the password"));
      } else {
        callback();
      }
    };
    var validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input the password again"));
      } else if (value !== this.form.password) {
        callback(new Error("Two inputs don't match!"));
      } else {
        callback();
      }
    };
    return {
      form: {
        password: "",
        confirmPassword: ""
      },
      rules: {
        password: [
          { validator: validatePass, trigger: "blur", required: true }
        ],
        confirmPassword: [
          { validator: validatePass2, trigger: "blur", required: true }
        ]
      },
      formLabelWidth: "140px"
    };
  },
  methods: {
    onSubmit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
        //   this.closePasswordDialog();
          this.changePassword(
            this.selectedAdmin.id,
            this.$refs[formName].model.password
          );
        } else {
          return false;
        }
      });
    },
    handleClose() {
      this.closePasswordDialog();
    }
  }
};
</script>