<template>
  <el-table :data="data" style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="props">
        <p>Created At: {{ props.row.created_at }}</p>
        <p>Updated At: {{ props.row.updated_at }}</p>
      </template>
    </el-table-column>
    <el-table-column label="Username" prop="username"></el-table-column>
    <el-table-column label="Email" prop="email">
      <template slot-scope="scope">{{scope.row.email === null ? "No email yet": scope.row.email}}</template>
    </el-table-column>

    <el-table-column label="Operations">
      <template slot-scope="scope">
        <el-button size="mini" @click="handleChangePassword(scope.row)">Change Password</el-button>
        <el-button size="mini" @click="changeAction('edit', scope.row)">Edit</el-button>
        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: "AdminTable",
  props: {
    data: {
      type: Array
    },
    openPasswordDialog: {
      type: Function
    },
    changeAction: {
      type: Function
    },
    deleteData: {
      type: Function
    }
  },
  methods: {
    handleDelete(index, row) {
      this.$confirm("Delete this admin?")
        .then(_ => {
          this.deleteData(index, row);
        })
        .catch(_ => {});
    },
    handleChangePassword(row) {
      this.openPasswordDialog(row);
    }
  }
};
</script>