@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-wa-dark {
    background-color: #409eff;
}
.bg-wa-darker {
    background-color: #409eff;
}

.bg-wa-lighter {
    background-color: #d6efff;
}

.text-wa-lighter {
    color: #d6efff;
}

.bg-wa-other {
    background-color: #ebebeb;
}

.text-wa-other {
    color: #ebebeb;
}

.text-wa {
    color: #ffa303;
}

.super-light {
    background-color: #faf7f7;
}

.background-w {
    background-color: white;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #07d;
    animation: spinner 0.6s linear infinite;
}
